<!DOCTYPE html>
<html lang="en">
<body>
<header th:fragment="header">
    <a th:href="@{/}"><img width="100" height="100" th:src="@{/img/Hotdog.png}"/></a>
<!-- Acquired from https://purepng.com/public/uploads/large/purepng.com-hot-doghot-dogfrankfurtersausagebun-1411527531372bhuay.png-->
    <nav>
        <b>Our Tutorials</b>
        <ul>
            <li><a th:href="@{/tutorial/banana}">Peel a Banana</a></li>
            <li><a th:href="@{/tutorial/cry}">Cry Effectively</a></li>
            <li><a th:href="@{/tutorial/computer}">Troubleshoot Computers</a></li>
        </ul>
    </nav>
</header>
</body>
</html>