<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How peel bananer</title>
    <link rel="stylesheet" th:href="@{/ugly.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<ol>
    <li>Lie down on floor</li>
    <li>Curl knees to chest</li>
    <li>Wrap arms around knees</li>
    <li>Begin crying</li>
</ol>
<img src="http://i1.kym-cdn.com/entries/icons/facebook/000/012/073/7686178464_fdc8ea66c7.jpg">
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>