<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How computer?</title>
    <link rel="stylesheet" th:href="@{/ugly.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<ol>
    <li>Find wild computer</li>
    <li>Press power button</li>
    <li>Find large blunt object</li>
    <li>Swing large blunt object at computer</li>
    <li>Repeat until desired consistency</li>
    <li>You now have computer mash.</li>
</ol>
<img width="400" height="400" th:src="@{/img/SmackComputer.png}">
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>