<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How peel bananer</title>
    <link rel="stylesheet" th:href="@{/ugly.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<ol>
    <li>Acquire banan</li>
    <li>Lift bondan in hand</li>
    <li>Use non-lifting hand to beat beananna</li>
    <li>You now have peeled babnan</li>
</ol>
<img src="https://cdn.drawception.com/drawings/990647/ctXqzb4dW0.png">
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>